# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Arquivos específicos do Django
db.sqlite3
*.log

# Ambiente virtual
venv/
.venv/
env/

# Arquivos de configuração de IDEs/Editor
.vscode/
.idea/
*.sublime-workspace
*.iml

# Arquivos de migrações e cache de migrações
app/membros/migrations/
app/membros/__pycache__/

# Arquivos de mídia e arquivos temporários
app/membros/media/

# Arquivos de banco de dados temporários
*.sqlite3

# Arquivos de configuração do Django (settings)
app/app/settings.py
#app/app/settings exemple.py

# Outros arquivos de log
*.log
